<section class="pricing-features-box">
    <div class="container">
        <div class="cards my-5">
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="{{ stylesheet_directory_uri }}/assets/vectors/hardcoded/creditcard-purple.svg" alt="">
                    <h5 class="my-2"><b>No Credit Card </b></h5>
                    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt repellat earum
                        doloremque cumque, veritatis fugiat?</p>
                </div>
                <div class="col-md-4">
                    <img src="{{ stylesheet_directory_uri }}/assets/vectors/hardcoded/creditcard-red.svg" alt="">
                    <h5 class="my-2"><b>No Credit Card </b></h5>
                    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt repellat earum
                        doloremque cumque, veritatis fugiat?</p>
                </div>
                <div class="col-md-4">
                    <img src="{{ stylesheet_directory_uri }}/assets/vectors/hardcoded/creditcard-yellow.svg" alt="">
                    <h5 class="my-2"><b>No Credit Card </b></h5>
                    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt repellat earum
                        doloremque cumque, veritatis fugiat?</p>
                </div>
                <div class="col-md-4">
                    <img src="{{ stylesheet_directory_uri }}/assets/vectors/hardcoded/creditcard-blue.svg" alt="">
                    <h5 class="my-2"><b>No Credit Card </b></h5>
                    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt repellat earum
                        doloremque cumque, veritatis fugiat?</p>
                </div>
                <div class="col-md-4">
                    <img src="{{ stylesheet_directory_uri }}/assets/vectors/hardcoded/creditcard-cyan.svg" alt="">
                    <h5 class="my-2"><b>No Credit Card </b></h5>
                    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt repellat earum
                        doloremque cumque, veritatis fugiat?</p>
                </div>
                <div class="col-md-4">
                    <img src="{{ stylesheet_directory_uri }}/assets/vectors/hardcoded/creditcard-green.svg" alt="">
                    <h5 class="my-2"><b>No Credit Card </b></h5>
                    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt repellat earum
                        doloremque cumque, veritatis fugiat?</p>
                </div>
            </div>
        </div>
    </div>
</section>
