<section class="pricing-features">
    <div class="container">
        <div class="features-box p-5">
            <div class="row">
                <div class="col-md-6 my-auto features-svg">
                    <img src="{{ stylesheet_directory_uri }}/assets/vectors/pricingpage-middle.svg" alt="">
                </div>
                <div class="col-md-6">
                    <ul class="features-list">
                        <li class="mt-4">
                            <img src="{{ stylesheet_directory_uri }}/assets/images/hardcoded/correct-icon.png" alt="">
                            <span>sed do eiusmod tempor incididunt</span>
                        </li>
                        <li class="mt-4">
                            <img src="{{ stylesheet_directory_uri }}/assets/images/hardcoded/correct-icon.png" alt="">
                            <span>sed do eiusmod tempor incididunt</span>
                        </li>
                        <li class="mt-4">
                            <img src="{{ stylesheet_directory_uri }}/assets/images/hardcoded/correct-icon.png" alt="">
                            <span>sed do eiusmod tempor incididunt</span>
                        </li>
                        <li class="mt-4">
                            <img src="{{ stylesheet_directory_uri }}/assets/images/hardcoded/correct-icon.png" alt="">
                            <span>sed do eiusmod tempor incididunt</span>
                        </li>
                        <li class="mt-4">
                            <img src="{{ stylesheet_directory_uri }}/assets/images/hardcoded/correct-icon.png" alt="">
                            <span>sed do eiusmod tempor incididunt</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
