<section class="banner">
    <div class="container text-center">
        <h3>{{ title }}</h3>
        <img src="{{ image }}" alt="">
        <p>
            {{ text }}
        </p>

        <a href="{{ button_url }}" class="btn btn-primary mx-auto">{{ button_text }}</a>
    </div>
</section>