<section class="career-positions">
    <div class="container-fluid">
        <h2 class="text-center orange-title">{{ main_title }}</h2>
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for counter in informations %}
                        <li class="splide__slide">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <div class="career-box">
                                        <div class="boxed-for-flex">
                                            <h4>{{ counter.title }}</h4>
                                            <span class="location">{{ counter.location }}</span>
                                        </div>

                                        <div class="boxed-for-flex">
                                            <span class="time"><i class="bi bi-briefcase-fill"></i> {{ counter.time }}</span>
                                            <span class="position">{{ counter.position }}</span>
                                        </div>
                                        <a href="{{ counter.button_url }}" class="btn btn-primary mx-auto">{{ counter.button_title }}</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>