<section class="info-slide">
    <div class="container">
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for counter in informations %}
                        <li class="splide__slide">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-6">
                                    <h4>{{ counter.title }}</h4>
                                    <p>{{ counter.text }}</p>
                                    <span class="author">{{ counter.author }}</span>
                                    <span class="position">{{ counter.position }}</span>
                                </div>
                                {% if {{ counter.video_url }} %}
                                    <div class="col-12 col-md-6">
                                        <img id="videoOpener" src="{{ counter.image }}" alt="">
                                        <div id="vidBox">
                                            <div id="videCont">
                                                <video autoplay id="v1" loop controls>
                                                    <source src="{{ counter.video_url }}" type="video/mp4">
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-12 col-md-6">
                                        <img src="{{ counter.image }}" alt="">
                                    </div>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
