<section class="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <h1>{{ main_title }}</h1>
                <p>{{ main_text }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="address-picker" id="address-picker">
                    <ul class="countries-list list-group list-group-horizontal">
                        {% for counter in codes %}
                            <li data-country="{{ counter.country_code }}" class="list-group-item flex-fill {{ loop.index == 1 ? 'active' : '' }}">
                                {{ counter.country_abbreviation }}</li>
                        {% endfor %}
                    </ul>
                    {% for counter in informations %}
                    <div class="country-info" id="{{ counter.country_code }}" {{ loop.index != 1 ? 'hidden' : '' }}>

                            <span class="country">{{ counter.country_name }}</span>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item address"><i class="bi bi-geo-alt-fill"></i><span>{{ counter.country_address }}</span>
                                </li>
                                <li class="list-group-item phone"><a href="tel:{{ counter.country_phone }}"><i class="bi bi-telephone-fill"></i><span>{{ counter.country_phone }}</span></a>
                                </li>
                                <li class="list-group-item mail"><a href="mailto:{{ counter.country_mail }}"><i class="bi bi-envelope-fill"></i><span>{{ counter.country_mail }}</span></a>
                                </li>
                            </ul>

                    </div>
                    {% endfor %}
                    <div class="social-links">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item"><a href="https://twitter.com"><i class="bi bi-twitter"></i></a>
                            </li>
                            <li class="list-group-item"><a href="https://facebook.com"><i
                                            class="bi bi-facebook"></i></a></li>
                            <li class="list-group-item"><a href="https://instagram.com"><i class="bi bi-instagram"></i></a>
                            </li>
                            <li class="list-group-item"><a href="https://pinterest.com"><i class="bi bi-pinterest"></i></a>
                            </li>
                            <li class="list-group-item"><a href="https://pinterest.com"><i
                                            class="bi bi-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <form class="row g-3 mt-5 mt-md-0">
                    <div class="col-md-6">
                        <label for="inputFirstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="inputFirstName">
                    </div>
                    <div class="col-md-6">
                        <label for="inputLastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="inputLastName">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPhone" class="form-label">Phone</label>
                        <input type="tel" class="form-control" id="inputPhone">
                    </div>
                    <div class="col-md-12">
                        <label class="form-label" for="message">Message</label>
                        <textarea class="form-control" id="message" placeholder="Message"
                                  style="height: 10rem;"></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary float-end">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    (function ($) {
        "use strict"; // Start of use strict
        var oldCountryCode=$('.country-info')[0].id
        if ($("#address-picker").length > 0) {
            $("#address-picker .countries-list li").on("click", function () {
                $("#address-picker .countries-list li").removeClass("active");
                if(oldCountryCode){
                    $('#' + oldCountryCode).prop('hidden' ,true)
                }
                $(this).addClass('active');
                var countryCode = $(this).attr('data-country');
                $('#' + countryCode).removeAttr('hidden')
                oldCountryCode=countryCode

            });
        }
    })(jQuery)
</script>

