<section class="icon-links py-5">
    <div class="container">
        <h2 class="text-center orange-title">Sweet Perks</h2>
        <div class="links">
            <div class="row align-items-center">
                <div class="col-6 col-sm-4 col-md-2 link">
                    <a href="#">
                        <img src="{{ stylesheet_directory_uri }}/assets/images/hardcoded/icon-link-1.png" alt="">
                        <span>Food Plan</span>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 link">
                    <a href="#">
                        <img src="{{ stylesheet_directory_uri }}/assets/images/hardcoded/icon-link-2.png" alt="">
                        <span>Class Overview</span>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 link">
                    <a href="#">
                        <img src="{{ stylesheet_directory_uri }}/assets/images/hardcoded/icon-link-3.png" alt="">
                        <span>Holiday Feedback</span>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 link">
                    <a href="#">
                        <img src="{{ stylesheet_directory_uri }}/assets/images/hardcoded/icon-link-4.png" alt="">
                        <span>Document Center</span>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 link">
                    <a href="#">
                        <img src="{{ stylesheet_directory_uri }}/assets/images/hardcoded/icon-link-1.png" alt="">
                        <span>Detailed Report</span>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 link">
                    <a href="#">
                        <img src="{{ stylesheet_directory_uri }}/assets/images/hardcoded/icon-link-1.png" alt="">
                        <span>View more features!</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>