<section class="header our-vision-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 text-left">
                <div class="w-800">
                    <h3 class="mb-4"><span class="text-orange">{{ orange_title_text }}</span> {{ title_text }}</h3>
                    <p class="mb-4">{{ first_paragraph }}
                    </p>
                    <p>
                      {{ second_paragraph}}
                    </p>
                    <p>{{ third_paragraph }}</p>
                </div>
            </div>
        </div>
    </div>
    <img src="{{ stylesheet_directory_uri }}/assets/images/header-wave.svg" class="bottom-wave">
    <img src="{{ stylesheet_directory_uri }}/assets/vectors/purple-arrows.svg" class="bottom-right-img">
</section>
