<section class="infograph">
    {% if has_purple_bg %}
        <img src="{{ stylesheet_directory_uri }}/assets/vectors/bg-purple.svg" alt="" class="bg-vector-purple">
    {% endif %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-section {{ img_left ? 'order-1 order-md-2' : ''  }} ">
                <h3>{{ title }}</h3>
                <p>
                    {{ text_area }}
                </p>
                <a href="{{ redirect_url }}" class="more-link">{{ redirect_title }}</a>
                <a href="{{ button_url }}" class="btn btn-primary mx-1">{{ button_text }}</a>
            </div>
            <div class="col-md-6">
                <div class="video-holder" {{ img_left ? 'order-2 order-md-1' : ''  }} >
                    <img class="avatar avatar-eyes" src="{{ avatar }}" alt="">
                    <video muted preload autoplay loop>
                        <source src="{{ video }}" type="video/webm">
                        <p>Your user agent does not support the HTML5 Video element.</p>
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    if ($("#pricing-slider").length > 0) {
        var mySlider = new rSlider({
            target: '#pricing-slider',
            values: {{ array_values }},
            range: false,// range slider
            set: null, // an array of preselected values
            width: null,
            scale: false,
            labels: true,
            tooltip: false,
            step: null, // step size
            disabled: false, // is disabled?
            onChange: function (vals) {
                var price = 999;
                if (vals === "75+") {
                    $(".pricing-slider .per-month-more").show();
                    $(".pricing-slider .per-month").hide();

                } else {
                    if (vals === "10") {
                        price = 25;
                    } else if (vals === "30") {
                        price = 75;
                    } else if (vals === "50") {
                        price = 125;
                    } else if (vals === "70") {
                        price = 175;
                    }
                    $(".pricing-slider .per-month-more").hide();
                    $(".pricing-slider .per-month").show();
                }
                $(".pricing-slider ins").each(function (index) {
                    if ($(this).find(".child-count").length > 0) {
                        $(this).text($(this).find(".child-count").text());
                    }
                });
                $(".pricing-slider ins:contains('" + vals + "')").html("<span class='child-count'>" + vals + "</span><span class='child'>Child</span>")

                $(".pricing-slider .price").text(price);

            }
        });
    }
</script>
